body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1440px;
  height: 800px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.currentAddress {
  position: relative;
  top: -240px;
  font-size: 20px;
  font-weight: 500;
}


.enterAddress {
  display: flex;
  margin: 0;
  width: 550px;
  height: 34px;
  position: relative;
  top: -210px;
  right: -150px;
}

.textAreaAddress {
  width: 100px;
  height: 50px;
}

.buttonAreaAddress {
  width: 100px;
  height: 30px;
}

/*ADDRESS INFO*/


.metaAddressData {
  display: flex;
  position: relative;
  top: -150px;
  z-index: 3;
}

.metaAddressDataContainer {
  width: 150px;
  height: 150px;
  background: white;
}

.metaAddressInfo {
  font-size: 18px;
  width: 100px;
  height: 50px;
  margin: auto;
  color: saddlebrown;
}


.metaAddressText {
  font-size: 18px;
  width: 140px;
  height: 50px;
  margin: auto;
  color: #282c34;
}


/*ADDRESS INFO*/





/*ADDRESS INFO*/

.mapFooter {
  position: relative;
  top: -220px;
  z-index: 0;
}

/*ADDRESS INFO*/
























